<%- include("layout/header") %>
    <main>
        <h2>Our company is dealing with software and hardware</h2>
        <h2>Welcome here</h2>
        <h3>We sell computers accessories</h3>
        <h3>Send us your request if you want any accessories relating to both</h3>
    </main>

<%- include("layout/footer") %>